[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
CN = localhost

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.25
IP.2 = 172.20.10.3
IP.3 = 127.0.0.1
DNS.1 = localhost